@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(226, 226, 226);
  min-height: 100vh;
  display: flex;

}

nav {
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  width: 90px;
  background: #fff;
  overflow: hidden;
  transition: 1s;
}

nav:hover {
  width: 280px;
  transition: 1s;
}

nav .fas {
  position: relative;
  width: 70px;
  height: 40px;
  top: 15px;
  font-size: 23px;
  text-align: center;
}

.nav-item {
  position: relative;
  top: 12px;
  margin-left: 10px;
}

#myInput {
  background-image: url("search-icon.png");
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.logo {
  text-align: center;
  display: flex;
  margin: 10px 0 0 10px;
}

.logo img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.logo span {
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
}

a {
  position: relative;
  width: 280px;
  font-size: 18px;
  color: rgb(85, 83, 83);
  display: table;
  padding: 10px;
  font-weight: bolder;
}

a:hover {
  color: #34AF6D;
  background: #eee;
}

a:hover i {
  color: #34AF6D;
  transition: 0.5s;
}

h1 {
  padding-top: 20px;
  font-size: 35px;
}

h2 {
  font-size: 30px;
}

.container1 {
  display: flex;
}

.table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 15px;
  min-width: 100%;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

table thead tr {
  color: #fff;
  background: #34AF6D;
  text-align: left;
  font-weight: bold;
}

.table th,
.table td {
  padding: 12px 15px;
}

.table tbody tr {
  border-bottom: 1px solid #ddd;
}

.table tbody tr:nth-of-type(odd) {
  background: #f3f3f3;
}

.table tbody tr.active {
  font-weight: bold;
  color: #4AD489;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #4AD489;
}

.main {
  position: relative;
  padding: 0 20px 20px 20px;
  width: 100%;
  overflow-y: auto;
}

.main .users {
  display: flex;
  width: 100%;
}

.users .card {
  width: 55%;
  margin: 10px;
  background: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.users .card img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.users .card h4 {
  text-transform: uppercase;
}

.users .card p {
  font-size: 12px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.users .card button {
  width: 100%;
  margin-top: 8px;
  padding: 7px;
  cursor: pointer;
  border-radius: 10px;
  background: transparent;
  border: 1px solid #4AD489;
  font-weight: bolder;
}

.users .card button:hover {
  background: #4AD489;
  color: #fff;
  transition: 0.5s;
}

.form .input-box {
  width: 100%;
  margin-top: 20px;

}

.input-box label {
  color: #333;
}

.form :where(.input-box input) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form button {
  width: 100%;
  margin-top: 8px;
  padding: 7px;
  cursor: pointer;
  border-radius: 10px;
  background: transparent;
  border: 1px solid #4AD489;
  font-size: 20px;
}

.form button:hover {
  background: #4AD489;
  color: #fff;
  transition: 0.5s;
}

.attendance {
  margin-top: 20px;
}

.attendance-list {
  width: 100%;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.button {
  width: 45%;
  margin-top: 8px;
  margin-right: 8px;
  padding: 7px;
  cursor: pointer;
  border-radius: 10px;
  background: transparent;
  border: 1px solid #4AD489;
  font-size: 20px;
  text-align: center;
  display: inline-block;
}

.button:hover {
  background: #4AD489;
  color: #fff;
  transition: 0.5s;
}

.overlay1 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay1:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 60%;
  position: relative;
  transition: all 5s ease-in-out;
  text-align: justify;
}

.popup .close {
  position: absolute;
  top: 0;
  right: 15px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: red;
  cursor: pointer;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

#above-threshold {
  color: red;
}

#below-threshold {
  color: green;
}

@media screen and (max-width: 700px) {
  .popup {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
}